* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(40, 40, 40);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 40, 1) 52%,
    rgba(252, 252, 252, 1) 52%
  );
}

a {
  text-underline-offset: 1rem;
}

A:visited{
  color: none;
}

#three, #four {
  color: black !important;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}


a {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  color: white;
}

a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

#three:hover, #four:hover {
  text-decoration-color: rgb(0, 0, 0);
}
