* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(50, 200, 255, 0.6), rgba(80, 80, 80, 0.8)),
    url('./luxury-car.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.header p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.subscribe-section h2 {
  margin: 2rem 0 1rem 0;
}

.modal-btn {
  margin-top: 1rem;
  outline: none;
  padding: 0.75rem 3rem;
  background-color: rgb(188, 149, 66);
  border: none;
  cursor: pointer;
}

/* ----------- MODAL ----------*/

/* .hidden {
  display: none;
} */

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 149, 66, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: whitesmoke;
  padding: 3rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal-button {
  position: absolute;
  top: 0.2rem;
  right: 1.5rem;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 1.25rem;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal button {
  margin: 1rem 0;
}


#info{
 margin-top: 3rem;
 font-size: 1rem;
}